<!-- btn -->
<div class="btn-container btn-primary">
    <a href="./contact.html" class="btn"><button role="button">Contact</button></a>
</div>

<div class="btn-container btn-deafault">
    <a href="./contact.html" class="btn"><button role="button">Contact Us</button></a>
</div>

<footer class="cta">
    <div class="container">
        <span>Have a project in mind?</span>
        <h2 data-textify-title="four">Let's get to work!</h2>
        <div class="btn-container btn-cta">
            <a href="./contact.html" class="btn"><button role="button">Contact Us</button></a>
        </div>
    </div>
</footer>

<!-- heading -->
<div class="heading__container">
    <span>Creative Digital Agency</span>
    <h1>Create Your Experience With Us</h1>
</div>

<div class="heading__container">
    <span>Our Services</span>
    <h2>Get Benefit And More With Our Excelent Services</h2>
</div>


<!-- testimonial -->
<div class="about__testimonial testimonial">
    <figure>
        <img src="./assets/about-1.png" alt="team photo">
    </figure>
    <div class="testimonial__content">
        <div class="heading__container">
            <span>About Our Company</span>
            <h2>Best Award Winning Creative <br>Agency Shape Of Perfect Solution</h2>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit et fames maecenas amet est
            scelerisque lectus tortor sit lorem ipsum dolor sit amet consectetur adipiscing elit
            et fames maecenas amet est scelerisque lectus tortor sit.
        </p>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
            veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
            voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
            magni dolores eos qui ratione voluptatem sequi nesciunt.
        </p>
        <div class="btn-container btn-primary">
            <button role="button" class="btn"><a href="#">Learn More</a></button>
            <div class="hover"></div>
        </div>
    </div>
</div>
