.articles {
  padding: 15vh 0;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
    margin: 3rem 0;
    @include media($bp-large) {
      gap: 4rem;
    }
  }

  & article {
    flex: 1;
    min-width: 50rem;
    max-width: 75rem;

    @include media($bp-small) {
      min-width: 40rem;
    }

    & p {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin: 1rem 0;

      &::before {
        content: "";
        display: inline-block;
        width: 4rem;
        height: 2px;
        background-color: $color-primary;
        opacity: 0.7;
      }

      & a:hover {
        color: $color-primary;
      }
    }

    & h3 a {
      font-size: 3rem;
      text-transform: capitalize;
      color: $color-black;
      transition: all 0.3s ease;
      @include media($bp-medium) {
        font-size: 2.5rem;
      }
    }

    & footer {
      margin-top: 2rem;
      display: flex;
      gap: 1.5rem;

      & .date,
      & .tag {
        display: flex;
        align-items: center;
        gap: 8px;

        & svg {
          width: 15px;
        }
      }
      & .tag {
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          color: $color-primary;
        }
      }
    }

    &:hover {
      & figure {
        &::after,
        &::before {
          transform: translate(-50%, -50%);
        }
        & img {
          transform: scale(1.1);
        }
      }
      & h3 a {
        text-decoration: underline;
      }
    }
  }
}

/*article figure*/
.article__figure {
  width: 100%;
  height: 40rem;
  display: block;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  & img {
    max-width: 100%;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    @include media($bp-small) {
      height: 100%;
    }
  }

  &::after,
  &::before {
    content: "";
    width: 5rem;
    height: 1px;
    background-color: $color-primary;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transition: all 0.6s ease-in-out;
  }
  &::after {
    height: 5rem;
    width: 1px;
    transform: translate(0%, 300%);
  }
  &::before {
    transform: translate(300%, 0%);
  }
}

/*blog articles*/
.blog__articles {
  & .articles__wrapper {
    gap: 4rem;

    @include media($bp-large) {
      flex-direction: column;
    }
  }

  & .articles__main {
    flex: 2.5;

    & .articles__main-content {
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;

      & article {
        all: unset;
        width: calc((100% - 4rem) / 2);

        @include media($bp-large) {
          width: 100%;
        }
      }
    }
  }
  & .articles__sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    & > div {
      padding: 3rem;
      border-radius: 5px;
      border: 1px solid rgba($color-black, 0.2);
      box-shadow: -12px 8px 25px 0px rgba(217, 35, 12, 0.03);
    }

    & .articles__search-bar {
      display: flex;
      padding: 0;
      max-width: 100%;
      width: 100%;

      & input {
        flex: 1;
        width: auto;
        color: $color-gray;
        font-size: 2.2rem;
      }

      & span {
        color: $color-black;
        font-size: 2.2rem;
      }

      & figure {
        background-color: $color-primary;
        height: 100%;
        padding: 1.4rem 2rem;
        display: grid;
        place-items: center;

        & svg {
          right: auto;
          width: 20px;
        }
      }
    }

    & .article__heading {
      font-size: 3rem;
      display: inline-block;
      margin-bottom: 2rem;

      &::after {
        content: "";
        display: block;
        height: 3px;
        width: 40%;
        background: $color-gradient;
      }
    }

    & .articles__posts {
      & .post {
        display: flex;
        gap: 3rem;
        padding: 3rem 0;
        border-bottom: 1px solid rgba($color-black, 0.2);

        &:last-of-type {
          border: none;
        }

        & h4 {
          font-size: 2.5rem;
          color: $color-black;
          margin-bottom: 2rem;
          transition: all 0.3s ease;
          &:hover {
            color: $color-primary;
          }
        }

        & .article__figure {
          overflow: visible;
          width: 90px;
          height: 90px;
          border-radius: 50%;

          & img {
            max-width: none;
            width: 90px;
            height: 90px;
            border-radius: 50%;
          }
          &::after,
          &::before {
            opacity: 0;
            background-color: rgba($color-white, 0.8);
          }
        }
        &:hover {
          & .article__figure {
            &::after,
            &::before {
              opacity: 1;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }

    & .articles__topics {
      & .topic {
        display: flex;
        align-items: center;
        font-size: 2.3rem;
        padding: 2rem 0;
        border-bottom: 1px solid rgba($color-black, 0.2);

        &:last-of-type {
          border: none;
          padding-bottom: 0;
        }

        & span {
          display: inline-block;
          color: $color-primary;
          font-size: 2.5rem;
        }

        & .name {
          margin-left: 1rem;
        }

        & .count {
          margin-left: auto;
        }

        & a {
          transition: all 0.3s ease;
          &:hover {
            color: $color-primary;
          }
        }
      }
    }

    & .articles__tags {
      .tags__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
      }
      .tag {
        white-space: nowrap;
        padding: 1rem;
        font-size: 2.2rem;
        border-radius: 4px;
        background-color: $color-white-2;
        color: $color-black;
        cursor: pointer;
        transition: all 0.5 s ease;

        &:hover {
          background-color: $color-primary;
          color: $color-white;
        }
      }
    }
  }
}
