.articles {
  padding: 15vh 0;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;
    margin: 3rem 0;
    @include media($bp-large) {
      gap: 4rem;
    }
  }

  & article {
    flex: 1;
    min-width: 50rem;
    max-width: 75rem;

    @include media($bp-small) {
      min-width: 40rem;
    }

    & figure {
      width: 100%;
      height: 40rem;
      display: block;
      overflow: hidden;
      position: relative;
      cursor: pointer;

      & img {
        max-width: 100%;
        transform: scale(1);
        transition: transform 0.3s ease-in-out;
      }

      &::after,
      &::before {
        content: "";
        width: 5rem;
        height: 1px;
        background-color: $color-primary;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transition: all 0.6s ease-in-out;
      }
      &::after {
        height: 5rem;
        width: 1px;
        transform: translate(0%, 300%);
      }
      &::before {
        transform: translate(300%, 0%);
      }
    }

    & p {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin: 1rem 0;

      &::before {
        content: "";
        display: inline-block;
        width: 4rem;
        height: 2px;
        background-color: $color-primary;
        opacity: 0.7;
      }

      & a:hover {
        color: $color-primary;
      }
    }

    & h3 a {
      font-size: 3rem;
      color: $color-black;
      transition: all 0.3s ease;
      @include media($bp-medium) {
        font-size: 2.5rem;
      }
    }

    & footer {
      margin-top: 2rem;
      display: flex;
      gap: 1.5rem;

      & .date,
      & .tag {
        display: flex;
        align-items: center;
        gap: 8px;

        & svg {
          width: 15px;
        }
      }
    }

    &:hover {
      & figure {
        &::after,
        &::before {
          transform: translate(-50%, -50%);
        }
        & img {
          transform: scale(1.1);
        }
      }
      & h3 a {
        text-decoration: underline;
      }
    }
  }
}
