.ask-que {
  background-color: $color-white-2;
  padding: 15vh 0;

  & .container {
    display: flex;
    gap: 4rem;

    @include media($bp-large) {
      flex-direction: column;
    }
  }

  &__content {
    flex: 1;

    & p {
      margin: 2rem 0;
    }
  }

  &__reactions {
    display: flex;
    color: $color-black;
    gap: 4rem;
    margin: 4rem 0;

    @include media($bp-small) {
      flex-direction: column;
    }
  }

  &__reaction {
    width: 100%;

    & .percentage {
      line-height: 1;
      background-color: $color-white;
      color: $color-white;
      text-align: center;
      position: relative;
      margin-top: 1rem;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 90%;
        height: 100%;
        background-color: $color-primary;
        z-index: 1;
      }
      &-2::before {
        width: 95%;
      }
      & span {
        line-height: 1;
        position: relative;
        z-index: 2;
      }
    }
  }

  &__faqs {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  &__faq {
    background-color: #fff;
    box-shadow: 0 0 2px rgba($color-black, 0.1);
    overflow: hidden;

    & .que {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $color-black;
      font-size: 2.6rem;
      padding: 4rem;
      border-bottom: 1px solid rgba($color-black, 0.1);
      cursor: pointer;
    }

    & .ans {
      height: 0;
    }

    & .icon {
      transform: rotate(-90deg);
      width: 15px;
      margin-left: 2rem;
    }

    &.active {
      & .ans {
        height: auto;
        padding: 3rem 4rem;
        border-bottom: 4px solid $color-primary;
      }
      & .icon {
        transform: rotate(0deg);
      }
    }
  }
}
