@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  color: $color-gray;
  line-height: 1.5;
  overflow-x: hidden;
}

.container {
  padding: 0 2rem;
  width: min(1300px, calc(100% - 2rem));
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}
input,
a,
button {
  font-family: inherit;
}
.deco {
  position: absolute;
}

p {
  line-height: 1.7;
}
