.case-study {
  position: relative;
  padding: 16rem 4rem;
  @include media($bp-medium) {
    padding: 8rem 0rem;
  }

  &::after {
    content: "";
    width: 100%;
    height: 70%;
    background-color: $color-black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @include media($bp-medium) {
      height: 80%;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media($bp-large) {
      flex-direction: column;
      align-items: start;
      gap: 2rem;
    }

    & .heading__container {
      margin: 0;
    }
  }

  &__wrapper {
    display: flex;
    margin-top: 6rem;
    gap: 4rem;
    @include media($bp-medium) {
      flex-direction: column;
    }
  }

  &__content {
    position: relative;

    &:hover {
      & .overlay {
        opacity: 1;
      }
      & .overlay .wrapper {
        transform: translateY(0);
      }
    }
  }

  & img {
    min-width: 40rem;
    max-width: 100%;
    display: block;
  }

  & .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, rgba(210, 17, 99, 0.5), rgba(217, 35, 12, 0.5));
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease;
    @include media($bp-medium) {
      opacity: 1;
    }

    & .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $color-white;
      font-size: 3rem;
      height: 100%;
      transform: translateY(2rem);
      transition: all 0.5s ease;
      @include media($bp-medium) {
        transform: translateY(0);
      }

      & > a {
        background-color: $color-white;
        padding: 5px 15px;
        border-radius: 50%;
        transition: all 0.3s ease;
        margin-top: 4rem;

        & svg {
          width: 15px;
          fill: $color-primary;
          transition: all 0.3s ease;
        }

        &:hover {
          background-color: $color-primary;
          & svg {
            fill: $color-white;
          }
        }
      }
    }
  }
}

.case-study-all {
  &::after {
    display: none;
  }

  & .case-study__wrapper {
    flex-wrap: wrap;
  }
  & .case-study__content {
    width: calc((100% - 4rem) / 2);
    overflow: hidden;

    @include media($bp-medium) {
      width: 100%;
    }
    & img {
      max-width: 100%;
      width: 100%;
      max-height: 400px;
      height: 30vw;
      object-fit: cover;
      display: block;
    }

    & .wrapper {
      @include media($bp-large) {
        font-size: 2.5rem;
      }
    }
  }
}

.casestudy-details {
  & .content {
    display: flex;
    gap: 4rem;
    @include media($bp-medium) {
      flex-direction: column;
    }
  }
  & .text {
    width: calc(70% - 4rem);
    @include media($bp-medium) {
      width: 100%;
    }
  }
  & .info {
    padding: 3rem;
    width: 30%;
    background-color: $color-white-2;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;

    @include media($bp-large) {
      width: 40%;
    }

    @include media($bp-medium) {
      flex-direction: row;
      width: 100%;
    }

    & div {
      width: calc((100% - 2rem) / 2);
      @include media($bp-large) {
        width: 100%;
      }
      @include media($bp-medium) {
        width: calc((100% - 2rem) / 2);
      }

      & h3 {
        color: $color-black;
        margin: 0;
        margin-bottom: 2rem;
      }

      & p {
        margin: 0;
      }

      & a {
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}
