.expertise {
  background-color: $color-black;
  color: $color-white;

  & p {
    line-height: 1.7;
  }

  & .deco-1 {
    left: 8%;
    top: 30%;
    @include media($bp-large) {
      left: 18%;
      top: 20%;
    }
    @include media($bp-medium) {
      display: none;
    }
  }
  & .deco-2 {
    left: 25%;
    top: 48%;
    z-index: 3;
    @include media($bp-large) {
      left: 54%;
      top: 32%;
    }
    @include media($bp-medium) {
      display: none;
    }
  }

  &__testimonial {
    padding: 0;
    padding-top: 15vh;
    position: relative;
    @include media($bp-large) {
      padding: 15vh 0;
    }

    & figure {
      position: relative;
      z-index: 2;
      @include media($bp-large) {
        justify-content: center;
      }
    }
  }

  & &__features {
    margin-top: 4rem;
    display: flex;
    gap: 8rem;
    @include media($bp-large) {
      justify-content: space-between;
    }
    @include media($bp-medium) {
      gap: 4rem;
    }

    & .feature {
      display: flex;
      max-width: 35rem;
      gap: 2rem;

      & svg {
        width: 30px;
        margin-top: 5px;
      }
      & h3 {
        margin-bottom: 1.6rem;
      }
    }
  }
}

.about-expertise {
  background-color: $color-white;
  color: $color-black;

  & .expertise__testimonial {
    padding: 15vh 0;
    flex-direction: row-reverse;

    @include media($bp-large) {
      flex-direction: column-reverse;
    }
  }

  &__figure {
    position: relative;
    & img {
      margin: 10% 0;
    }
    & .deco {
      height: 100%;
      width: 75%;
      background-image: $color-gradient;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
}
