.expertise {
  background-color: $color-black;
  color: $color-white;

  & p {
    line-height: 1.7;
  }

  & .deco-1 {
    left: 8%;
    top: 30%;
  }
  & .deco-2 {
    left: 25%;
    top: 48%;
    z-index: 3;
  }

  &__testimonial {
    padding: 0;
    padding-top: 15vh;
    position: relative;

    & figure {
      position: relative;
      z-index: 2;
    }
  }

  & &__features {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    & .feature {
      display: flex;
      max-width: 16rem;
      gap: 1rem;

      & svg {
        width: 25px;
        margin-top: 5px;
      }
      & h3 {
        margin-bottom: 0.8rem;
      }
    }
  }
}
