.expert-team {
  background-color: $color-white-2;
  padding: 15vh 0;

  & .container {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 4rem;
    position: relative;
    @include media($bp-large) {
      flex-direction: column;
    }
    @include media($bp-medium) {
      padding: 0 2rem;
      width: calc(100% - 2rem);
    }
  }

  & .deco {
    top: 0rem;
    left: 22%;
    transform: scale(0.7) rotate(165deg);
    @include media($bp-large) {
      display: none;
    }
  }

  &__content {
    width: 25%;
    @include media($bp-large) {
      width: 80%;
    }
    @include media($bp-medium) {
      width: 100%;
    }

    & .heading__container h2 {
      font-size: 3.8rem;
    }
    & p {
      margin: 2rem 0;
    }
  }
  &__slider {
    width: 75%;
    @include media($bp-large) {
      width: 80%;
    }
    @include media($bp-medium) {
      width: 100%;
    }
  }
  &__card {
    position: relative;

    & figure {
      overflow: hidden;
      max-width: 100%;
      max-height: 46rem;
      display: grid;
      place-items: center;

      & img {
        max-width: 100%;
        transform: scale(1);
        transform-origin: center center;
        transition: all 0.5s ease;
      }
    }

    & .info {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 14rem;
      padding: 2rem 4rem;
      background: $color-gradient;
      color: $color-white;
      z-index: 2;
      overflow: hidden;

      &::after {
        content: "";
        width: 150%;
        height: 150%;
        position: absolute;
        top: -25%;
        left: -25%;
        background: rgba($color-primary, 0.8);
        z-index: -1;
        transform: scale(0);
        transform-origin: top left;
        transition: all 0.8s ease-in-out;
        border-radius: 50%;
      }

      & h3 {
        font-size: 3rem;
      }
      & span {
        margin-top: 2rem;
      }
    }

    & .social {
      position: absolute;
      bottom: 15rem;
      left: 0;
      justify-content: center;
      z-index: 1;
      transform: translateY(200%);
    }

    &:hover {
      & figure img {
        transform: scale(1.2);
      }
      & .info::after {
        transform: scale(1);
      }
      .social {
        transform: translate(0);
      }
    }
  }
}

.about-expert-team {
  background-color: $color-white;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 70%;
    background-color: $color-black;
    position: absolute;
    top: 0;
    left: 0;

    @include media($bp-medium) {
      height: 80%;
    }
  }

  & .container {
    flex-direction: column;
    position: relative;
    z-index: 1;
  }

  &__slider {
    max-width: 80%;
  }

  &__card {
    & .top {
      overflow: hidden;
      position: relative;
    }
    & .info {
      display: block;
      position: relative;
      color: $color-black;
      background: transparent;
      height: auto;
      padding: 3rem 0;

      &::after {
        display: none;
      }
    }

    & .social {
      background: $color-gradient;
      bottom: 0;
      padding: 4rem;
      transform: translateY(100%);
      opacity: 0;
    }

    &:hover {
      & .social {
        opacity: 1;
      }
    }
    & .deco {
      top: 0;
    }
  }

  & .primary-nav {
    top: 11rem;
  }
}
