.expertise {
  background-color: $color-black;
  color: $color-white;

  & p {
    line-height: 1.7;
  }

  & .deco-1 {
    left: 8%;
    top: 30%;
    @include media($bp-large) {
      left: 18%;
      top: 20%;
    }
  }
  & .deco-2 {
    left: 25%;
    top: 48%;
    z-index: 3;
    @include media($bp-large) {
      left: 54%;
      top: 32%;
    }
  }

  &__testimonial {
    padding: 0;
    padding-top: 15vh;
    position: relative;
    @include media($bp-large) {
      padding: 15vh 0;
    }

    & figure {
      position: relative;
      z-index: 2;
      @include media($bp-large) {
        justify-content: center;
      }
    }
  }

  & &__features {
    margin-top: 4rem;
    display: flex;
    gap: 8rem;

    & .feature {
      display: flex;
      max-width: 32rem;
      gap: 2rem;

      & svg {
        width: 25px;
        margin-top: 5px;
      }
      & h3 {
        margin-bottom: 1.6rem;
      }
    }
  }
}
