.fact {
  background-image: url(../assets/features-bg.png);
  padding: 15vh 0;
  color: $color-white;
  position: relative;

  & .container {
    padding: 0 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    @include media($bp-large) {
      flex-wrap: wrap;
    }
  }

  & .counter-container {
    display: flex;
    align-items: center;
    gap: 2rem;

    & .counter {
      font-size: 6rem;
      font-weight: 700;
      line-height: 1;
    }
    & span {
      max-width: 10rem;
      display: block;
    }
  }

  & .deco {
    left: 5%;
    top: 10%;

    @include media($bp-large) {
      display: none;
    }
  }
}
