.fact {
  background-image: url(../assets/features-bg.png);
  padding: 15vh 0;
  color: $color-white;
  position: relative;

  & .container {
    padding: 0 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .counter-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    & .counter {
      font-size: 2.7rem;
      font-weight: 700;
      line-height: 1;
    }
    & span {
      max-width: 2rem;
    }
  }

  & .deco {
    left: 5%;
    top: 10%;
  }
}
