.features {
  background-image: url(../assets/features-bg.png);
  padding: 10vh 10vw;
  color: $color-white;
  position: relative;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
  }

  & &__list {
    max-width: 25%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &:nth-of-type(2) .list__title::before {
      content: "02";
    }
    &:last-of-type .list__title::before {
      content: "03";
    }

    a {
      transition: color 0.4s ease-in;

      &:hover {
        color: $color-primary;
      }
    }

    .list__title {
      position: relative;

      &::before {
        content: "01";
        display: block;
        position: absolute;
        font-size: 1rem;
        font-weight: 700;
        left: -5rem;
        top: 0.5rem;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 2rem;
        height: 1px;
        background-color: $color-primary;
        top: 1.2rem;
        left: -3rem;
      }

      & a {
        font-size: 2rem;
        line-height: 1.2;
      }
    }
  }
  & .deco {
    top: 50%;
    left: 5%;
  }
}
