.hero {
  min-height: 100vh;
  padding: 20vh 0 10vh;
  position: relative;
  background-color: $color-white-2;

  .container {
    display: flex;
    align-items: center;
    @include media($bp-large) {
      flex-direction: column;
    }
  }
  & &__content {
    width: 45%;
    padding: 4rem;
    @include media($bp-large) {
      max-width: 80rem;
      width: 100%;
    }
    @include media($bp-medium) {
      padding: 2rem 0;
    }

    & p {
      margin: 1em 0 2em;
    }
  }
  & &__slider {
    position: relative;
    right: 0;
    width: 54%;
    margin: 0;
    margin-left: auto;

    @include media($bp-large) {
      max-width: 80rem;
      width: 100%;
      margin-left: 0;
      margin-top: 4rem;
    }

    & img {
      max-width: 100%;
    }
  }
  .deco-1 {
    bottom: 0;
    left: 0;
    font-size: 10rem;
    font-weight: 700;
    line-height: 1;
    color: $color-white;
  }
  .deco-3 {
    bottom: 10rem;
    left: 40%;
    z-index: 2;
  }
  .deco-2 {
    top: 10%;
    left: 60%;
    z-index: 2;
  }
  .deco-4 {
    display: block;
    width: 40vw;
    max-width: 500px;
    height: 100%;
    background-image: $color-gradient;
    right: 0;
    top: 0;
  }
  & .deco {
    @include media($bp-large) {
      display: none;
    }
  }
}

.inf_text {
  display: block;
  white-space: nowrap;
  width: 100vw;
  text-align: center;
  overflow: hidden;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.inf_text-1 {
  display: inline-block;
  animation: scrolling-left1 10s linear infinite;
}
.inf_text-2 {
  display: inline-block;
  animation: scrolling-left2 10s linear infinite;
  animation-delay: 5s;
}
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.service-hero {
  height: 100vh;
  background-image: url(../assets/blog-3.png);
  background-size: cover;
  background-position: center center;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color-primary, 0.3);
  }
}
