.hero {
  min-height: 100vh;
  padding: 20vh 0 10vh;
  position: relative;
  background-color: $color-white-2;

  .container {
    display: flex;
    align-items: center;
    @include media($bp-large) {
      flex-direction: column;
    }
  }
  & &__content {
    width: 45%;
    padding: 4rem;
    @include media($bp-large) {
      max-width: 80rem;
      width: 100%;
    }
    @include media($bp-medium) {
      padding: 2rem 0;
    }

    & p {
      margin: 1em 0 2em;
    }
  }
  & &__slider {
    position: relative;
    right: 0;
    width: 54%;
    margin: 0;
    margin-left: auto;

    @include media($bp-large) {
      max-width: 80rem;
      width: 100%;
      margin-left: 0;
      margin-top: 4rem;
    }

    & img {
      max-width: 100%;
    }
  }
  .deco-1 {
    bottom: 0;
    left: 0;
    font-size: 10rem;
    font-weight: 700;
    line-height: 1;
    color: $color-white;
  }
  .deco-3 {
    bottom: 10rem;
    left: 40%;
    z-index: 2;
  }
  .deco-2 {
    top: 10%;
    left: 60%;
    z-index: 2;
  }
  .deco-4 {
    display: block;
    width: 60rem;
    height: 100%;
    background-image: $color-gradient;
    right: 0;
    top: 0;
  }
  & .deco {
    @include media($bp-large) {
      display: none;
    }
  }
}

.inf_text {
  display: block;
  white-space: nowrap;
  width: 100vw;
  text-align: center;
  overflow: hidden;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
.inf_text-1 {
  display: inline-block;
  animation: scrolling-left1 10s linear infinite;
}
.inf_text-2 {
  display: inline-block;
  animation: scrolling-left2 10s linear infinite;
  animation-delay: 5s;
}
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.hero-bg {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-position-y: 20%;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color-primary, 0.3);
  }
}

.service-hero {
  background-image: url("../assets/blog-3.png");
  &::after {
    background-color: rgba(246, 175, 26, 0.3);
  }
}
@supports (background-image: url("../assets/blog-3.webp")) {
  .service-hero {
    background-image: url("../assets/blog-3.webp");
  }
}

.casestudy-hero {
  background-image: url("../assets/why-choose-us-bg.png");
}
@supports (background-image: url("../assets/why-choose-us-bg.webp")) {
  .casestudy-hero {
    background-image: url("../assets/why-choose-us-bg.webp");
  }
}

.article-hero {
  background-image: url(../assets/cta-bg.png);
  &::after {
    background-color: rgba(26, 55, 246, 0.3);
  }
}
@supports (background-image: url("../assets/cta-bg.webp")) {
  .article-hero {
    background-image: url("../assets/cta-bg.webp");
  }
}

.team-hero {
  background-image: url(../assets/case-study-1.png);
  &::after {
    background-color: rgba(152, 240, 94, 0.3);
  }
}
@supports (background-image: url("../assets/case-study-1.webp")) {
  .team-hero {
    background-image: url("../assets/case-study-1.webp");
  }
}

.pricing-hero {
  background-image: url(../assets/blog-3.png);
  &::after {
    background-color: rgba(246, 175, 26, 0.3);
  }
}
@supports (background-image: url("../assets/blog-3.webp")) {
  .pricing-hero {
    background-image: url("../assets/blog-3.webp");
  }
}

.contact-hero {
  background-image: url(../assets/hero-1.png);
  &::after {
    background-color: rgba(224, 83, 255, 0.3);
  }
}
@supports (background-image: url("../assets/hero-1.webp")) {
  .contact-hero {
    background-image: url("../assets/hero-1.webp");
  }
}

.faq-hero {
  background-image: url(../assets/services-details.png);
  &::after {
    background-color: rgba(94, 252, 255, 0.3);
  }
}
@supports (background-image: url("../assets/services-details.webp")) {
  .faq-hero {
    background-image: url("../assets/services-details.webp");
  }
}

.testimonial-hero {
  background-image: url(../assets/hero-3.png);
  &::after {
    background-color: rgba(249, 4, 4, 0.3);
  }
}
@supports (background-image: url("../assets/hero-3.webp")) {
  .testimonial-hero {
    background-image: url("../assets/hero-3.webp");
  }
}

.term-hero {
  background-image: url(../assets/services-details.png);
  background-size: 140%;
  background-position: 100% 100%;
  &::after {
    background-color: rgba(114, 159, 0, 0.3);
  }
}
@supports (background-image: url("../assets/services-details.webp")) {
  .term-hero {
    background-image: url("../assets/services-details.webp");
  }
}

.privacy-hero {
  background-image: url(../assets/choose-1.png);
  background-size: 170%;
  background-position: 100% 50%;
  &::after {
    background-color: rgba(162, 3, 215, 0.3);
  }
}
@supports (background-image: url("../assets/choose-1.webp")) {
  .privacy-hero {
    background-image: url("../assets/choose-1.webp");
  }
}
