header {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  height: 12vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 1.5rem;

  & .logo {
    & img {
      max-width: 100%;
      width: 100%;
    }
  }
  & .nav {
    & ul {
      display: flex;
      gap: 1rem;
    }
    & li {
      list-style: none;
    }
    & a {
      color: $color-gray;
      font-size: 1rem;
    }
  }
  & .nav__side {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & .search-bar {
      display: flex;
      align-items: center;
      border: 1px solid $color-white;
      position: relative;
      border-radius: 3px;
      max-width: 12rem;

      & input {
        background-color: transparent;
        border: none;
        padding: 1rem 1rem;
        color: $color-white;

        &:focus {
          outline: none;
        }
      }
      & input:focus + span {
        opacity: 0;
      }
      & span {
        position: absolute;
        left: 1rem;
        color: $color-white;
        transition: opacity 0.3s ease-out;
        pointer-events: none;
      }
      & img {
        position: relative;
        right: 1.2rem;
        width: 20px;
      }
    }
  }
}
