.pricing {
  padding: 15vh 0;

  &__card-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 6rem;
  }

  &__card {
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba($color-black, 0.15), 0 -1px 3px rgba($color-black, 0.15);
    transition: transform 0.7s ease;

    &:hover {
      transform: translateY(-10px);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 2rem;

    & .icon-container {
      --size: 8rem;
      width: var(--size);
      height: var(--size);
      display: grid;
      place-items: center;
      background-image: linear-gradient(90deg, #5bcc96, #0ccdd9);
      border-radius: 50%;
    }
    & h3 {
      color: $color-black;
      font-size: 3rem;
    }
  }

  & .price {
    font-size: 6.2rem;
    font-weight: bold;
    line-height: 1;
    color: $color-primary;
    margin: 3rem 0;

    & small {
      font-size: 1.8rem;
      font-weight: normal;
      color: $color-gray;
    }
  }

  & .btn-container {
    & .btn {
      padding: 1.1em 4em;
    }
    & + small {
      display: block;
      margin-top: 0.5em;
    }
  }

  & ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
    margin-top: 3rem;
    list-style: none;

    & li {
      display: flex;
      align-items: center;
      gap: 2rem;

      & svg {
        width: 13px;
      }
    }
  }
}
