.pricing {
  padding: 15vh 0;

  &__card-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 6rem;
  }

  &__card {
    --btn-width: 46rem;
    --btn-width: min(calc((1300px - 44rem) / 3), calc((100vw - 44rem) / 3));
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba($color-black, 0.15), 0 -1px 3px rgba($color-black, 0.15);
    transition: transform 0.7s ease;
    width: calc((100% - 8rem) / 3);

    @include media($bp-large) {
      --btn-width: 32.8rem;
      width: calc((100% - 4rem) / 2);
    }

    @include media($bp-medium) {
      --btn-width: min(calc(600px - 12rem), calc(100vw - 20rem));
      width: 100%;
    }

    &:hover {
      transform: translateY(-10px);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 2rem;

    & .icon-container {
      --size: 8rem;
      width: var(--size);
      height: var(--size);
      display: grid;
      place-items: center;
      background-image: linear-gradient(90deg, #5bcc96, #0ccdd9);
      border-radius: 50%;

      & svg {
        width: 30px;
        height: 30px;
      }
    }
    & h3 {
      color: $color-black;
      font-size: 3rem;
    }
  }

  & .price {
    font-size: 6.2rem;
    font-weight: bold;
    line-height: 1;
    color: $color-primary;
    margin: 3rem 0;
    @include media($bp-medium) {
      font-size: 5rem;
    }

    & small {
      font-size: 1.8rem;
      font-weight: normal;
      color: $color-gray;
    }
  }

  & .btn-container {
    & .btn {
      width: var(--btn-width);

      // @media screen and (min-width: 1400px) {
      //   max-width: ;
      // }
    }
    & + small {
      display: block;
      margin-top: 0.5em;
    }
  }

  & ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
    margin-top: 3rem;
    list-style: none;

    & li {
      display: flex;
      align-items: center;
      gap: 2rem;

      & svg {
        width: 13px;
        height: 25px;
      }
    }
  }
}
