.review {
  padding: 15vh 0;
  background-color: $color-white-2;

  & .container {
    display: flex;
    justify-content: space-between;
    position: relative;

    @include media($bp-large) {
      gap: 6rem;
      flex-direction: column;
    }
  }

  &__content {
    width: 35%;
    @include media($bp-large) {
      width: 100%;
    }

    & p {
      margin: 2rem 0;
    }
  }

  & .deco {
    top: -6rem;
    left: 15%;
    transform: scale(0.7) rotate(-200deg);
    @include media($bp-large) {
      display: none;
    }
  }

  &__slider {
    width: 60%;
    padding-bottom: 6rem;
    @include media($bp-large) {
      width: 100%;
    }

    & blockquote {
      & .quote {
        font-size: 2.4rem;
        padding: 4rem;
        background-color: $color-white;
        box-shadow: 0 0 10px rgba($color-black, 0.05);
        position: relative;
        transition: all 0.2s ease;

        & > * {
          transition: all 0.2s ease;
        }

        & svg {
          max-width: 40px;
          height: 40px;
          margin-bottom: 2rem;
        }

        &::after {
          content: "";
          width: 30px;
          height: 30px;
          background-color: $color-white;
          display: block;
          position: absolute;
          bottom: 0;
          left: 5%;
          transform: rotate(45deg) translate(50%);
          box-shadow: 0 0 10px rgba($color-black, 0.05);
          transition: all 0.2s ease;
        }
      }

      &:hover {
        .quote {
          background-color: $color-primary;
          & svg > * {
            fill: $color-white;
          }
          & p {
            color: $color-white;
          }
          &::after {
            background-color: $color-primary;
          }
        }
      }

      & .author {
        justify-content: start;
      }
    }
  }
}
