.services {
  padding: 8rem 0;

  & .heading__container h2 {
    max-width: 80rem;
  }

  &__card-container {
    display: flex;
    gap: 4rem;
    max-width: 140rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
  }

  &__card {
    --heading: #000;
    --text: #656565;
    position: relative;
    overflow: hidden;
    max-width: 30%;
    min-width: 35rem;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 1px 2px rgba($color-black, 0.1), 0 -1px 2px rgba($color-black, 0.1);
    transition: all 0.3s ease;
    @include media($bp-medium) {
      max-width: 100%;
    }

    &::after {
      content: "";
      width: 150%;
      height: 150%;
      position: absolute;
      top: -25%;
      left: -25%;
      background-image: $color-gradient;
      z-index: -1;
      transform: scale(0);
      transform-origin: top left;
      transition: all 0.8s ease-in-out;
      border-radius: 50%;
    }

    &:hover {
      --heading: #fff;
      --text: #fff;
      transform: translateY(-10px);
    }

    &:hover::after {
      transform: scale(1);
    }

    &:hover .learn-more {
      color: #fff;
      letter-spacing: 1px;
    }

    & figure {
      --size: 80px;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      background: $color-gradient-2;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;

      & svg {
        width: 30px;
      }
    }

    & h3 a {
      font-size: 2.8rem;
      color: var(--heading);
      transition: all 0.3s ease 0.2s;
    }
    & p {
      margin: 2rem 0;
      line-height: 1.7;
      color: var(--text);
      transition: all 0.3s ease 0.4s;
    }
    & .learn-more {
      background-image: $color-gradient;
      color: transparent;
      background-size: cover;
      background-clip: text;
      -webkit-background-clip: text;
      font-weight: 500;
      transition: all 0.3s ease 0.4s;
    }
  }
}

.service-services {
  & .services__card-container {
    max-width: none;
  }

  & .services__card {
    padding: 5rem;
    &::after {
      background: $color-gradient-2;
    }
    & figure {
      background: $color-gradient;
    }
  }

  & .services__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;

    & li {
      display: grid;
      place-items: center;
      font-size: 2.5rem;
      height: 40px;
      width: 40px;
      background: $color-white;
      color: $color-black;
      border-radius: 50%;
      line-height: 1;
      box-shadow: 1px 1px 4px rgba($color-black, 0.4);
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &.active,
      &:hover {
        background: $color-primary;
        color: $color-white;
      }
    }
  }
}
