$color-gray: #656565;
$color-black: #000000;
$color-white: #ffffff;
$color-white-2: #f9f5f4;
$color-primary: #e9085e;
$color-gradient: linear-gradient(90deg, #d21163, #d9230c);
$color-gradient-2: linear-gradient(90deg, rgb(46, 75, 226), #1ebbdd);

:root {
  --color-gray: #656565;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-white-2: #f9f5f4;
  --color-primary: #e9085e;
  --color-gradient: linear-gradient(90deg, #d21163, #d9230c);
  --color-gradient-hover: #f2376f76;
}

// mixins
$bp-large: 992px;
$bp-medium: 768px;
$bp-small: 576px;

@mixin media($bp) {
  @media only screen and (max-width: $bp) {
    @content;
  }
}
