.why-choose-us {
  & p {
    line-height: 1.7;
  }
  .testimonial {
    padding-top: 0;
    flex-direction: row-reverse;
    position: relative;

    & .deco {
      height: 70%;
      width: 30%;
      background-image: $color-gradient;
      right: 0;
      top: 5%;
      z-index: -1;
    }

    & .feature {
      display: flex;
      align-items: center;

      & figure {
        flex-basis: 16rem;
        display: grid;
        place-items: center;
      }

      & h3 {
        color: $color-black;
        font-size: 3rem;
      }
    }
  }
}
