.why-choose-us {
  & p {
    line-height: 1.7;
  }
  .testimonial {
    flex-direction: row-reverse;
    position: relative;

    & .deco {
      height: 80%;
      width: 30%;
      background-image: $color-gradient;
      right: 0;
      top: 10%;
      z-index: -1;
    }

    & .feature {
      display: flex;
      align-items: center;

      & figure {
        flex-basis: 8rem;
        display: grid;
        place-items: center;
      }

      & h3 {
        color: $color-black;
        font-size: 1.5rem;
      }
    }
  }
}
