.why-choose-us {
  & p {
    line-height: 1.7;
  }
  .testimonial {
    padding-top: 0;
    flex-direction: row-reverse;
    position: relative;
    @include media($bp-large) {
      flex-direction: column-reverse;
    }

    &__figure {
      position: relative;
      & img {
        margin: 10% 0;
      }
      & .deco {
        height: 100%;
        width: 75%;
        background-image: $color-gradient;
        right: 0;
        top: 0;
        z-index: -1;
      }
    }

    & .feature {
      display: flex;
      align-items: center;
      margin-top: 2rem;
      gap: 2rem;

      & figure {
        flex-basis: 14rem;
        display: grid;
        place-items: center;
        @include media($bp-medium) {
          flex-basis: 10rem;
        }
      }

      & h3 {
        color: $color-black;
        font-size: 3rem;
        @include media($bp-medium) {
          font-size: 2.5rem;
        }
      }
    }
  }
}
